@import "tailwindcss";
@import "@monorepo/tailwindcss/style.css";

@theme {
  --font-sans: var(--font-inter);
}

@layer base {
  body {
    @apply bg-white text-black antialiased selection:bg-black selection:text-white;
  }

  /* Custom Scrollbar for a technical feel */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 hover:bg-black transition-colors rounded-none;
  }
}

@utility tech-border {
  @apply border border-gray-200;
}
